---
layout: article
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="card">
    <div class="card-header">
      <header class="post-header">
        <div class="pull-sm-left">
          <h1 class="h5 post-title" itemprop="name headline">{{ page.title }}</h1>
        </div>
        <div class="pull-sm-right">
        <span class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</span>
        </div>
      </header>
    </div>

    <div class="card-block post-content" itemprop="articleBody">
      {{ content }}
    </div>
  </div>
</article>
